h2 {
    text-align:center;
    margin-top: 30px;
}

#form {
    background-color:silver;
    width: 300px;
    height: 300px;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 30px;
}

.input{
    margin-left: 65px;
    margin-top: 65px;
    margin-bottom: 10px;
}

.inputnim {
    margin-left: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputkelamin {
    margin-left: 65px;
    margin-top: 5px;
    padding: 5px;
}

.labelnama{
    position: fixed;
    margin-left: 65px;
    margin-top: 60px;
}

.labelnim {
    margin-left: 65px;
}

.labelkelamin {
    margin-left: 65px;
}

.submit { 
    margin-left: 225px;
    margin-top: 40px;
    padding: 5px;
}

.submit:hover {
    background-color: blanchedalmond;
    font-style: none;
    border-color: blanchedalmond;
    transition-delay: 500ms;
}