.paragraf {
   text-align: center;
}

#table{
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.table1 th{
    border: 1px solid;
    text-align: center;
}

.table2 td{
    border: 1px solid;
    text-align: center;
}

img {
    width: 100px;
    height: auto;
    margin: 10px;
    border-radius: 20px;
}
